<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<h2>User info</h2>
				<div class="user-profile-image" style="border-bottom: 1px solid #ddd">
					<%= attachment_image_tag user, :profile_image, format: 'jpg', fallback: "no_image.jpg", size: "100x100" %>
				</div>
				<table>
					<tbody>
						<tr style="border-bottom: 1px solid #ddd">
							<th style="padding: 8px;">name</th>
							<th style="padding: 20px;"><%= user.name %></th>
						</tr>
						<tr>
							<th style="padding: 20px 0;">introduction</th>
							<th style="padding: 20px;"><%= user.introduction %></th>
						</tr>
					</tbody>
				</table>
				<%= link_to  edit_user_path(user) do %>
					<span class="col-xs-12 btn btn-default glyphicon glyphicon-wrench" style="width: 100%; margin: 30px 0;"></span>
				<% end %>
				<h2>New Book</h2>
				<%= form_for(book) do |f| %>
					<div><strong>Title</strong></div>
					<div><%= f.text_field :title, class:"col-lg-12" %></div>

					<div><strong>Opinion</strong></div>
					<div><%= f.text_field :body, class:"col-lg-12" %></div>

					<%= f.submit "Create Book",class: "btn btn-primary col-lg-12" %>
				<% end %>
		</div>
	</div>
</div>